In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import tweepy
import time
import pandas as pd

# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'


# Retrieve page with the requests module
html = requests.get(url)
# Create BeautifulSoup object; parse with html
soup = BeautifulSoup(html.text, 'html.parser')

In [2]:
#confirm link
soup.title.text

'Mars planet facts news & images | NASA Mars rover + mission info: News '

In [26]:
#Collect the latest News Title and Paragraph
news_holder = soup.find('li', class_='slide')
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='rollover_description_inner').text
print(news_title)
print(news_p)

NASA Invests in Visionary Technology



NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.

In [111]:
# JPL URL of page to be scraped
url_jpl = 'https://www.jpl.nasa.gov/spaceimages/'


# Retrieve page with the requests module
html = requests.get(url_jpl)
# Create BeautifulSoup object; parse with html
soup2 = BeautifulSoup(html.text, 'html.parser')

In [112]:
soup2.title.text

'Space Images'

In [124]:
#Collect the featured image on JPL page and print full addresss
featured_img_url = soup2.find('img', class_='thumb')
print(url_jpl + featured_img_url['src'])

https://www.jpl.nasa.gov/spaceimages//spaceimages/images/wallpaper/PIA22413-640x350.jpg

In [130]:
# Twitter URL of page to be scraped
url_tw = 'https://twitter.com/marswxreport?lang=en'


# Retrieve page with the requests module
html = requests.get(url_tw)
# Create BeautifulSoup object; parse with html
soup3 = BeautifulSoup(html.text, 'html.parser')

In [132]:
soup3.title.text

'Mars Weather (@MarsWxReport) | Twitter'

In [131]:
mars_weather = soup3.find('p','TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
print(mars_weather)

Sol 2019 (April 11, 2018), Sunny, high -6C/21F, low -75C/-103F, pressure at 7.18 hPa, daylight 05:27-17:21

In [5]:
#Pandas was loaded in 1st step
#assign variable to website
url_fact = 'https://space-facts.com/mars/'

In [10]:
#Create Table
tables = pd.read_html(url_fact)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [7]:
#Check table type
type(tables)

list

In [12]:
#Create Dataframce from table
df = tables[0]
df.columns = ['Item', 'Fact']
df

                   Item                           Fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
#Convert Data to HTML 
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Item</th>\n      <th>Fact</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [42]:
# USGS URL of page to be scraped
url_USGS = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'


# Retrieve page with the requests module
html = requests.get(url_USGS)
# Create BeautifulSoup object; parse with html
soup3 = BeautifulSoup(html.text, 'html.parser')

In [43]:
soup3.title.text

'Astropedia Search Results | USGS Astrogeology Science Center'

In [97]:
#Retrieve Data - test out signle pull of data
img_title = soup3.find('div', class_='description').text
Img = soup3.find('div', class_='item')
img_url = Img.find('a', class_='itemLink product-item')
print(img_title)
print(url_USGS + img_url['href'])

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/search/map/Mars/Viking/cerberus_enhanced

In [135]:
#Retrieve Data - for all and append to disctionary
USGS = []
results = soup3.find_all('div', class_='item')

for result in results:
    img_title = result.find('div', class_='description').text
    img_url = result.find('a', class_='itemLink product-item')
    
    print(img_title)
    print(url_USGS + img_url['href'])
    full = (url_USGS + img_url['href'])
    
    
    # Append to dictionary
    hemisphere_image_urls = {
        'title': img_title,
        'img_url':full,
        }
    USGS.append(hemisphere_image_urls)

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/search/map/Mars/Viking/cerberus_enhanced
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/search/map/Mars/Viking/schiaparelli_enhanced
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/search/map/Mars/Viking/syrtis_major_enhanced
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/search/map/Mars/Viking/valles_marineris_enhanced

In [136]:
print(USGS)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/search/map/Mars/Viking/cerberus_enhanced'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/search/map/Mars/Viking/schiaparelli_enhanced'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/search/map/Mars/Viking/syrtis_major_enhanced'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/search/map/Mars/Viking/valles_marineris_enhanced'}]